.scratchCommentRect {
    fill: #322D01;
}

.scratchCommentBody,
.scratchCommentTextarea {
    background-color: #4C4401;
}

.scratchCommentTextarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.scratchCommentText {
    fill: #FFF;
    color: #FFF;
}
